$respond-to-no-mediaqueries-fallback: phone;
$respond-to-fallback-class: lt-ie9;
$respond-to-breakpoints: (
  large 'screen and (max-width: 1090px)',
  medium 'screen and (max-width: 821px)',
  small 'screen and (max-width: 649px)',
  half 'screen and (max-width: 500px)'
);
@mixin respond-to($medias...) {
  $breakpoints-length: length($respond-to-breakpoints);

  @each $media in $medias {
    $had-a-hit: false;

    @for $i from 1 through $breakpoints-length {
      $breakpoint: nth($respond-to-breakpoints, $i);
      @if $media == nth($breakpoint, 1) {
        $definition: nth($breakpoint, 2);
        $had-a-hit: true;
        @media #{$definition} {
          @content;
        }
      }
    }

    @if $media == $respond-to-no-mediaqueries-fallback {
      .#{$respond-to-fallback-class} & {
        @content;
      }
    }

    @if $had-a-hit == false {
      @warn "Media #{media} not found!";
    }
  }
}

.form {
  &__body {
    &.mb0 {
      margin-bottom: 0;
    }

    .form__3col {
      display: flex;
      flex-wrap: wrap;

      &:last-child {
        margin-bottom: 0;
      }

      .form-control {
        width: calc(33.333% - 20px);
        margin-right: 30px;
        margin-top: 20px;

        @include respond-to(large) {
          width: calc(50% - 15px);
        }
        @include respond-to(small) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 14px;
        }
      }

      .full-width {
        width: 100%;
      }
    }

    .form__row {
      margin-bottom: 24px;
      @include respond-to(medium) {
        margin-bottom: 14px;
      }

      @include respond-to(medium) {
        flex-direction: column;
        .form-item-block {
          width: 100%;
          &:first-child {
            margin-right: 0px;
          }
        }
      }
      @include respond-to(small) {
        .form-control {
          .form-control__in {
            input {
              &.in {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &__footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include respond-to(half) {
      flex-direction: column;
    }
    > .btn {
      @include respond-to(half) {
        text-align: center;
      }
      &:first-child {
        margin-right: 40px;
        @include respond-to(half) {
          margin-right: 0;
          order: 1;
          margin-top: 14px;
        }
      }
    }
  }
}
