%greenLinkBox {
  border: 2px solid #68937d;
  background: #68937d;
  transition: background 0.35s, border-color 0.35s;
  color: #fff;

  &:hover {
    background-color: #fff;
    border-color: #68937d;
    color: #68937d;
  }
}

.link {
  display: inline-block;

  & *:not(path) {
    color: inherit;
  }

  &--open-link {
    > svg {
      margin-right: 10px;
      font-size: 12px;
    }
    span {
      color: #68937d;
      text-decoration: underline;
    }
    & :hover {
      text-decoration: none;
    }
  }
  &--box-gray {
    border-radius: 5px;
    > svg {
      margin-right: 6px;
    }
    & {
      height: 33px;
      padding: 4px 10px;
      border: 2px solid #c6cdce;
      background: #fff;
    }
    & {
      transition: background 0.35s, border-color 0.35s;
      color: #626262;
      font-weight: 600;
      line-height: normal !important;
    }

    > span {
      color: #626262;
    }
    &--font-size13 {
      font-size: 0.8rem;
    }
    &:hover {
      background-color: #68937d;
      border-color: #68937d;
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
  &--box-green {
    @extend %greenLinkBox;
    border-radius: 5px;
    > svg {
      margin-right: 6px;
    }
    & {
      height: 33px;
      padding: 4px 10px;
      font-weight: 600;
      line-height: normal !important;
    }
    &--font-size13 {
      font-size: 0.8rem;
    }
  }
  &--ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &--success {
    background: #40804f 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
    padding: 7px 12px;
    font-size: 0.8rem;

    span {
      color: #fff;
      margin-left: 3px;
    }

    &:hover {
      background-color: #68937d;
    }
  }
  &__is-new {
    margin-right: 5px;
    padding: 2px 5px;
    color: #fff;
    font-size: 11px;
    background-color: #dc3545;
    display: inline-block;
  }
  &--BG_D9E8E0 {
    color: #68937d;
    border: 2px solid #d9e8e0;
    background-color: #d9e8e0;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 8px 18px;
    cursor: pointer;
    height: 40px;
    align-items: center;

    &:hover {
      color: #316e4f;
    }
  }
  &--to-detail-calendar {
    border: 2px solid #b5b5b5;
    width: 100%;
    border-radius: 5px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #68937d;
      color: #fff;
    }
  }
  &--to-detail {
    @extend %greenLinkBox;
    max-height: 32px;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 5px;
  }
  &--gray {
    border-radius: 5px;
    display: flex;
    height: 32px;
    align-items: center;
    padding: 4px 10px;
    border: 2px solid #b5b5b5;
    background: #fff;
    transition: background 0.35s, border-color 0.35s;
    color: #626262;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1;
    &:hover {
      background-color: #68937d;
      border-color: #68937d;
      color: #fff;
    }
  }
  &--green {
    border-radius: 5px;
    height: 33px;
    padding: 4px 10px;
    border: 2px solid #68937d;
    background: #68937d;
    transition: background 0.35s, border-color 0.35s;
    color: #fff;
    font-weight: 600;
    &--font-size13 {
      font-size: 0.8rem;
    }
    &:hover {
      background-color: #fff;
      border: 2px solid #68937d;
      color: #68937d;
    }
  }
  &--cancel {
    width: 80px;
    border-radius: 5px;
    height: 33px;
    padding: 4px 20px;
    display: flex;
    border: 2px solid #b5b5b5;
    background-color: #e2e2e2;
    transition: background 0.35s, border-color 0.35s;
    color: #626262;
    font-weight: 600;
    align-items: center;
    &:hover {
      background-color: #fff;
      border-width: #b5b5b5;
    }
  }
  &--text-link {
    text-decoration: underline;
  }
}
